<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id = "features" class="ud-features">
        <div class="container">
          <h1>Product Detail</h1>
          
            <h4><a href="/products/<%=product.id%>"><%=product.productTiltle %></h4>
            <p><%=product.productDescription %></p>
            <p>ราคา : <%=product.productPrice%> บาท</p>
      
  
        </div>
      </section>
  
  
</body>
</html>